body {background-color: rgb(194, 206, 86)}
h1 {color: rgb(138, 138, 82);}
h3 {color: rgb(138, 138, 82);}
img{float: left;}
main{background-color: rgb(230, 230, 113);}
article{background-color: rgb(224, 238, 32);}